{% extends "base.html" %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div>Senhas Cadastradas</div>

          <a class="btn btn-primary btn-sm" href="{{ url_for('new_password') }}">Nova Senha</a>
        </div>
        <div class="card-body">
          <table class="table table-responsive table-hover">
            <thead>
              <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Descrição da Senha</th>
                <th scope="col">Data/Hora de Criação</th>
                <th scope="col">Data/Hora de Expiração</th>
                <th scope="col">Quantidade de Visualizações Permitidas</th>
                <th scope="col">Quantidade de Visualizações Realizadas</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if passwords %}
              {% for password in passwords %}
              <tr class="text-center">
                <td scope="col">{{ loop.index }}</td>
                <td class="text-capitalize">{{ password.description }}</td>
                <td>{{ password.created_at }}</td>
                <td>{{ password.expires_at }}</td>
                <td>{{ password.max_value_for_viewing }}</td>
                <td>{{ password.performed_views }}</td>
                <td>
                  <input type="hidden" value="{{ password.link }}" readonly>
                  <button class="btn btn-sm btn-link copy-to-clipboard">Copiar link</button>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr class="text-center">
                <td colspan="7">Não há senhas cadastradas, para cadastrar <a href="{{ url_for('new_password') }}">clique aqui</a>.</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}