{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div>Cadastrar Nova Senha</div>

          <a class="btn btn-secondary btn-sm" href="{{ url_for('catch_all') }}">Voltar</a>
        </div>
        <div class="card-body">
          <form method="post" action="#">
            <div class="row">
              <div class="col-3">
                <label for="exampleFormControlInput1" class="form-label">Data para Expiração</label>
                <input type="date" class="form-control" id="exampleFormControlInput1" required>
              </div>
              <div class="col-3">
                <label for="exampleFormControlInput2" class="form-label">Hora para Expiração</label>
                <input type="time" class="form-control" id="exampleFormControlInput2" required>
              </div>
              <div class="col-3">
                <label for="exampleFormControlInput1" class="form-label">Quantidade Máxima de Visualizações</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" min="1" required>
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button class="btn btn-primary btn-sm">Gerar Senha</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='new_password.js') }}"></script>
{% endblock %}